.Main{
    background-color: #702283;
    width: 100vw;
    height: 100vh;
}

.box{
    position: relative;
    width: 36vw;
    top: 100vh;
    height: 48vh;
    left: 32vw;
    border-radius: 30px;
    background: white;
}
.login-as{
    font-size: 48px;
    font-family:Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    color:#000000;
    margin-top: 40px;
    padding: 0;

}
.btn{
    display: block;
    position: relative;
    top: 12vh;
    border: none;
    margin: auto;
    margin-bottom: 40px;
    background-color: #924fa2;
    color:white;
    width: 22vw;
    height: 50px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 24px;
    transition: opacity 0.5s linear;
    

}
.btn:hover{
    animation-duration: 0.5s;
    opacity:0.75;
    height: 60px;
    width: 23vw;
}