*{
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.box{
    position: relative;
    background-color:   #702283;
    margin: auto;
    width: 30vw;
    height: 40vh;

    justify-content: center;
    border-radius: 30px;
}
.btn{
    display: block;
    position: relative;
    margin: auto;
    top: 13vh;
    border: none;
    width: 100%;
    margin-bottom: 40px;
    background-color: #ffffff;
    width: 10vw;
    height: 30px;
    border-radius: 30px;
    text-decoration: none;
}